
<div class="page-header">
  <h2>My Files</h3>
</div>

{{#if user.history.uploadedFiles}}
{{else}}
<h4>You haven't uploaded any files</h2>
{{/if}}


<div class="page-header">
  <h2>Order History</h3>
</div>

{{#if user.history.orderedPrints}}
{{else}}
<h4>You haven't ordered anything yet.</h2>
{{/if}}