<div style="padding-left:70px;">
	{{#each users as |user|}}
</br>
		<h3><ui>{{user.name}}</ui></h3>
    <ul>
		<h4><li>{{user.location}}</li>
		<li>{{user.printer}}</li>
		<li>{{user.price}}</li>
		</ul></h4>
	{{/each}}
</div>
