
<div class="fullscreen-bg">
    <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
        <source src="vimeoprint.mp4" type="video/mp4">
    </video>
</div>
</div>
<div style="display:flex;justify-content:center;align-items:center;padding-top: 125px">
    <h1 style="color:#FFF;">What would you like to print today?</h1>
</div>
<div style="display:flex;justify-content:center;align-items:center;padding-top: 25px;padding-left:70px;">
      <form action="/home/postUpload" method="post" enctype="multipart/form-data">
        <h4><input style="color:#FFF;" type="file" name="filename" accept=".stl"></h4>
        <div style="display:flex;justify-content:center;align-items:center;padding-top: 25px;padding-right:85px;">
          <input type="submit"class="btn btn-success">
        </div>
      </form>
  </div>
