<div style="display:flex;justify-content:center;align-items:center;padding-top: 125px;">
  <div>
    <h1>What would you like to print today?</h1>
      <div style="display:flex;justify-content:center;align-items:center;">
        <a class="btn btn-success" href="/upload" role="button">Get Started</a>
    </div>
  </div>
</div>
